@import "tailwindcss";

@theme {
    --color-pink-light: #ffcdda;
    --color-blue-light: #bdebef;
    --color-yellow-light: #f5eab0;
    --color-red-light: #ffc8db;
    --color-red-faint: #ff4c4c;
    --color-purple-light: #c6aed6;
    --color-green-light: #b5e1aa;
    --color-brown-thick: #fbb254;
    --color-red-thick: #f83c47;
    --color-bluish: #79a7fe;
    --color-bluish-dark: #486498;
    --color-teal: #258e8e;
    --color-gray-dark: #555;
    --color-gray-medium: #888;
    --color-gray-light: #ddd;
    --color-pink-thick: #fe79ea;
    --font-autour: 'Autour One', serif;
    --font-ultra: 'Ultra', serif;
    --font-itim: 'Itim', sans-serif;
    --font-yatra: 'Yatra One', sans-serif;
    --font-lug: 'Lugrasimo', cursive;
    --font-poiret: 'Poiret One', sans-serif;
    --animate-heading: animate-heading 800ms cubic-bezier(0.65, -0.25, 0.45, 1.5) forwards;
    --animate-text: animate-heading 800ms 500ms ease-out forwards;
    --animate-appear: appear 1.5s ease forwards;
    --animate-disappear: disappear 1s ease forwards;

    @keyframes animate-heading {
        from {
            opacity: 0;
            line-height: 250%;
            scale: 1.1;
        }


        to {
            opacity: 1;
            line-height: 150%;
            scale: 1;
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
            filter: blur(5px);
            -webkit-filter: blur(5px);
        }


        to {
            opacity: 1;
            filter: none;
            -webkit-filter: none;
        }
    }

    @keyframes disappear {
        from {
            opacity: 1;
            filter: none;
            -webkit-filter: none;
        }


        to {
            opacity: 0;
            filter: blur(5px);
            -webkit-filter: blur(5px);
        }
    }
}
.btnBlue {
    background-color: var(--color-bluish);
}
.btnRed {
    background-color: #ef4444;
}
.btnRed:hover {
    background-color: #b91c1c;
}

.btnBlue:hover {
    background-color: var(--color-bluish-dark);
}